/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
}
.form-header .subtext {
  font-weight: lighter;
  color: #b6b6b6;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
}

hr {
  margin-bottom: 30px;
}

.form-submit-control {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#sign-in,
#sign-up {
  width: 50%;
}

#sign-in-form {
  border: 1px solid;
  
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}
.chk-box label {
  font-weight: normal;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form-group-horizontal-control {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.form-group-horizontal-control .form-input-control {
  flex: 1;
  width: auto;
}

.form-input-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
}

.form-radio-control label {
  font-weight: normal;
}
.form select {
  height: 30px;
}
